<div class="container-sobre">
    <h1>Sobre nós</h1>
    <p>
        Transformamos espaços com excelência. Somos especialistas em construção e reforma, entregando resultados
        surpreendentes. Nossa equipe experiente cuida de todos os detalhes, do planejamento à execução, para criar
        ambientes personalizados e funcionais.
        Conte conosco para transformar seus sonhos em realidade. <strong>Descubra a diferença conosco.</strong></p>
    <p>
        Somos uma empresa de construção e reforma comprometida em transformar ambientes. Combinamos expertise,
        criatividade e atenção aos detalhes para entregar projetos de <strong>alta qualidade.</strong> Conte com nossa equipe dedicada
        para tornar sua visão uma realidade.
    </p>
</div>