*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
a{
    text-decoration: none;
}
@font-face {
    font-family: "codec";
    src: url("/pereira-construcoes/src/assets/Fontes/codec/Codec-Cold-Bold-trial.ttf")
  }
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
